@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


.poppins-regular-fonts {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* Sheared Style */

.text_primary_color{
  color: #3A3A3A;
}

/* header */

.brand{
  font-size: 1.5rem;
  font-weight: 700;
}

.nav_bar{
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  align-items: center;
}

.nav_menu{
  display: flex;
  gap: 34px;
}

.nav_menu li{
  list-style: none;
}

.nav_menu li a{
  text-decoration: none;
  font-size: 1rem;
  font-weight: 600;
}

/* Banner */

.banner{
  display: flex;
  max-width: 1155px;
  margin: 0 auto;
}

.content_banner{
  width: 580px;
  height: 270px;
  margin-top: 140px;
  margin-right: 130px;
}

.banner_title{
  font-size: 3.25rem;
  font-weight: 700;
  line-height: 70px;
  margin-bottom: 16px;
}

.banner_description{
  width: 500px;
  font-size: 16px;
  font-weight: 600px;
  margin-bottom: 16px;
}

.banner_btn{
  background-color: #E02C6D;
  color: #FFFFFF;
  padding: 10px 24px;
  font-weight: 700;
  font-size: 16px;
  border-radius: 40px;
  border: none;
}

.image_banner img{
  max-width: 100%;
}

.image_banner{
  max-width: 440px;
  margin-top: 80px;
  background-image: url(../images/Circle\ design.svg);
  background-repeat: no-repeat;
  background-position: center;
}

/* sponsors */

.sponsor_container{
  max-width: 1110px;
  margin: 70px auto;
  gap: 60px;
  /* border: 1px solid red; */
  padding: 30px 10px;
  border-top: 1px solid #AAAAAA;
  border-bottom: 1px solid #AAAAAA;
}

.logo_container{
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  align-items: center;
}

.logo_container img{
  max-width: 100%;
  object-fit: contain;
}

/* Card Section */

#card_section{
  max-width: 1045px;
  margin: 0 auto;
  /* border: 1px solid red; */
  margin-top: 130px;
}

.card_section_title{
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 70px;
  text-align: center;
}

.card_container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  gap: 30px;
}

.card_info{
  max-width: 329px;
  border-radius: 8px;
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
}

.card_image img{
  max-width: 100%;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 15px;
}

.card_description{
  padding-left: 15px;
}

.card_title{
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 40px;
  margin-bottom: 15px;
}

.card_price{
  font-size: 1.5rem;
  color: #000000;
}

.card_text{
  max-width: 195px;
}

.see_more_button{
  color: #E02C6D;
  text-align: end;
  margin-top: 50px;
  margin-bottom: 100px;
}

/* Feature */

.feature{
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1110px;
  margin: 0px auto;
  gap: 95px;
}

.feature_image img{
  max-width: 404px;
  object-fit: cover;
}

.feature_text{
  max-width: 600px;
}

.feature_title{
  font-size: 2.2rem;
  font-weight: 700;
  line-height: 60px;
  color: #0A0826;
  margin-bottom: 16px;
}

.feature_description{
  font-weight: 700;
  line-height: 28px;
  color: #6C6C6C;
  margin-bottom: 16px;
}

.feature_button{
  background-color: #E02C6D;
  padding: 10px 24px;
  margin-bottom: 20px;
  border: none;
  color: #FFFFFF;
  font-weight: 700;
  margin-bottom: 100px;
}

/* Footer */

.footer_section{
  text-align: center;
  max-width: 1366px;
  margin: 0 auto;
  /* border: 1px solid red; */
  background-color: #000000;
}

.footer_text{
  color: #FFFFFF;
  padding: 50px;
}

.footer_title{
  font-size: 1.5rem;
  font-weight: 700;
}

.footer_description{
  font-size: 0.8rem;
  font-weight: 700;
  line-height: 24px;
  color: #D9DBE1;
}

.footer_text a{
  color: #FFFFFF;
}

/* Media query */

@media screen and (max-width: 576px){
  .nav_bar, 
  .nav_menu,
  .banner, 
  .card_container{
    flex-direction: column;
  }

  .nav_menu li{
    text-align: center;
  }

  .banner, .feature{
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
  }

  .content_banner{
    width: 100%;
    height: auto;
    margin: 0;
  }

  .banner_title{
    font-size: 1.8rem;
    line-height: 2.4rem;
  }

  .banner_description{
    font-size: 0.8rem;
    width: 100%;
  }

  .banner_btn{
    margin-top: 20px;
  }

  .image_banner{
    margin: 0 auto;
    background-size: contain;
  }

  .image_banner img{
    width: 100%;
  }

  .sponsor_container{
    margin: 50px 42px;
    border: none;
    max-width: 275px;
  }
 
.logo_container{
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  justify-items: center;
}

.card_container{
  grid-template-columns: repeat(1, 1fr);
  align-items: center;
}

/* .card_info{
  max-width: 100%;
} */

.card_image img{
  max-width: 100%;
}

.feature_image img{
  max-width: 100%;
   margin-bottom: 20px;
}

.feature_title{
  font-size: 1.5rem;
}

.footer_section{
  max-width: 100%;
}

}